<!-- -->
<launch>


<arg name="gui" default="1"/>
<!-- start the arduino communication with baseline-->
<node name="serial_node_one" pkg="rosserial_python" type="serial_node.py">
<rosparam file="$(find platform_controller)/param/arduino1.yaml" command="load" />
  </node>

<!-- with tilt motors-->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
      <rosparam file="$(find arbotix_python)/config/motors.yaml" command="load" />
  </node>

	<!-- start pan motors-->
        <arg name="device_name"                default="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AI027ZF1-if00-port0"/>
        <arg name="baud_rate"                  default="1000000"/>

        <arg name="scan_range"                 default="10"/>

        <arg name="profile_velocity"           default="100"/>
        <arg name="profile_acceleration"       default="60"/>

        <param name="device_name"              value="$(arg device_name)"/>
        <param name="baud_rate"                value="$(arg baud_rate)"/>

        <param name="scan_range"               value="$(arg scan_range)"/>

        <param name="profile_velocity"         value="$(arg profile_velocity)"/>
        <param name="profile_acceleration"     value="$(arg profile_acceleration)"/>

        <node name="position_control" pkg="dynamixel_workbench_controllers" type="position_control" required="true" output="screen"/>

<node name="control_tilt_motors" pkg="platform_controller" type="control_tilt_motors" output="screen"/>
<!-- start the controller node -->
<!-- <node name="platform_controller_gui" pkg="platform_controller" type="platform_controller.py" unless="$(arg gui)"  /> -->
<node name="platform_controller_gui" pkg="platform_gui" type="platform_gui.py" unless="$(arg gui)"  />
</launch>
<!-- /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AL00CJWR-if00-port0  /// arbox-->
